<div>
  <input type='number' name='system.aspects.stone' value='{{system.aspects.stone}}' data-dtype='Number' max="18" />
  <input type='number' name='system.aspects.flux' value='{{system.aspects.flux}}' data-dtype='Number' max="18" />
  <input type='number' name='system.aspects.aether' value='{{system.aspects.aether}}' data-dtype='Number' max="18" />
  <input type='number' name='system.aspects.hearth' value='{{system.aspects.hearth}}' data-dtype='Number' max="18" />
</div>