<div name="traits">
  <div class="trait">
    <input type='text' value="{{kin.system.uniqueTraitName}}" disabled />
    {{{kin.system.uniqueTrait}}}
  </div>
  {{#each traits as |trait|}}
  <div class="trait">
    <input type='text' value="{{trait.system.name}}" disabled />
    {{{trait.system.description}}}
  </div>
  {{/each}}
</div>