.chat-message {

  background: white;
  font-family: "Bebas";

  h1,
  h2,
  h3,
  h4 {
    font-family: "Bebas";
    margin-bottom: 0;
  }

  .quality-item {
    margin-bottom: $font-size;

    h4 {
      font-size: calc($font-size*1.25);
    }

    .additional-description p {
      margin: 0;
    }
  }

  .dice-roll {

    .dice-flavor,
    .dice-total {
      text-align: center;
      font-size: calc($font-size*1.5);
      font-weight: bold;
      padding-top: 5px;

    }

    .dice-tooltip {
      font-family: "Montserrat";
    }
  }

  .additional-description {
    font-family: "Montserrat";
    text-align: justify;
    margin-top: 4px;
  }
}