&.actor.character {
  background-image: url(../assets/art/knight-sheet.webp);
  background-size: cover;

  $inputBackground: rgba(121, 112, 126, 0.5);
  $inputBackground: unset;

  &.edit-mode {
    input {
      border: 1px solid black !important;
    }
  }

  %divInfo {
    background: $inputBackground;
    position: absolute;

    p {
      color: black;
      margin: 0;
    }
  }

  %inputEmphasis {
    color: black;
    background: $inputBackground;
    font-family: 'Bebas';
    font-weight: bold;
    border: 0;
  }

  .window-content {
    backdrop-filter: unset;
  }

  .tab.biography {
    position: absolute;
    left: 49px;
    top: 500px;
    width: 248px;
    height: 240px;
    color: black;

    .editor-content {
      background-color: #EEE;
    }
  }


  .effects {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0.5rem;
    max-height: 0;
    margin-bottom: -20px;
    width: 400px;
    overflow: hidden;
    background: #EEE;
    border: solid black;
    border-width: 2px 0 0 2px;
    transition-duration: 1s;
    transition-delay: 0s, 0.4s;
    transition-property: max-height, margin-bottom;

    img.effect-image {
      filter: invert(1);
    }


    label,
    div,
    i {
      color: black;
      font-size: 12px;
    }

    a {
      text-align: right;
    }
  }

  &.showConditions .effects {
    max-height: 400px;
    margin-bottom: 0;
  }

  @import 'character/aspects';
  @import 'character/resources';
  @import 'character/general';
  @import 'character/traits';
  @import 'character/augments';
  @import 'character/equipments';
}