&.actor.character {
  background-image: url(../assets/art/knight-sheet.png);
  background-size: cover;

  $inputBackground: rgba(121, 112, 126, 0.5);
  // $inputBackground: unset;

  .window-content {
    backdrop-filter: unset;
  }

  .tab.biography {
    position: absolute;
    left: 49px;
    top: 500px;
    width: 248px;
    height: 240px;
    color: black;
  }

  @import 'character/aspects';
  @import 'character/dice';
  @import 'character/general';
}