%inputAspect {
  color: black;
  background: $inputBackground;
  position: absolute;
  font-size: xx-large;
  font-family: 'Bebas';
  font-weight: bold;
  text-align: center;
  width: 60px;
  height: 50px;
}

input[name="system.aspects.flux"] {
  @extend %inputAspect;
  top: 519px;
  left: 433px;
  rotate: 26deg;
}

input[name="system.aspects.stone"] {
  @extend %inputAspect;
  top: 422px;
  left: 348px;
  rotate: 71deg;
}

input[name="system.aspects.aether"] {
  @extend %inputAspect;
  top: 522px;
  left: 567px;
  rotate: -26deg;
}

input[name="system.aspects.hearth"] {
  @extend %inputAspect;
  top: 422px;
  left: 653px;
  rotate: -72deg;
}

// ROLL SPANS

%labelAspect {
  @extend %inputEmphasis;
  position: absolute;
  font-size: large;
}

label[name="roll.aspects.stone"] {
  @extend %labelAspect;
  top: 453px;
  left: 328px;
  rotate: 71deg;
}

label[name="roll.aspects.flux"] {
  @extend %labelAspect;
  top: 569px;
  left: 431px;
  rotate: 26deg;
}

label[name="roll.aspects.aether"] {
  @extend %labelAspect;
  top: 573px;
  left: 592px;
  rotate: -26deg;
}

label[name="roll.aspects.hearth"] {
  @extend %labelAspect;
  top: 451px;
  left: 697px;
  rotate: -72deg;
}