%energyInput {
  @extend %inputEmphasis;
  position: absolute;
  font-size: x-large;
  text-align: center;
  width: 60px;
  height: 50px;
}

input[name="system.energy.value"] {
  @extend %diceInput;
  top: 172px;
  left: 463px;
  rotate: 0deg;
}

input[name="system.energy.max"] {
  @extend %diceInput;
  top: 172px;
  left: 539px;
  rotate: 0deg;
}

%bottomInput {
  @extend %inputEmphasis;
  position: absolute;
  width: 120px;
}

%bottomInputRight {
  @extend %bottomInput;
  width: 80px;
}

input[name="name"] {
  @extend %bottomInput;
  top: 674px;
  left: 462px;
}

input[name="system.pronouns"] {
  @extend %bottomInputRight;
  top: 674px;
  left: 630px;
}

input[name="system.banner"] {
  @extend %bottomInput;
  top: 717px;
  left: 615px;
}

input[name="system.moniker"] {
  @extend %bottomInput;
  top: 717px;
  left: 462px;
}

input[name="kin.name"] {
  @extend %bottomInput;
  top: 697px;
  left: 462px;
}

div[name="kin.nexusSurge"] {
  @extend %divInfo;
  top: 86px;
  left: 686px;
  width: 330px;
  height: 49px;
  overflow: auto;
}

input[name="kin.nexusSurgeName"] {
  @extend %bottomInput;
  font-size: large;
  top: 63px;
  left: 761px;
  width: 200px;
}