%energyInput {
  @extend %inputEmphasis;
  position: absolute;
  font-size: x-large;
  text-align: center;
  width: 60px;
  height: 50px;
}

input[name="system.energy.value"] {
  @extend %diceInput;
  top: 172px;
  left: 463px;
  rotate: 0deg;
}

input[name="system.energy.max"] {
  @extend %diceInput;
  top: 172px;
  left: 539px;
  rotate: 0deg;
}

%bottomInput {
  @extend %inputEmphasis;
  position: absolute;
  width: 120px;
}

%bottomInputRight {
  @extend %bottomInput;
  width: 80px;
}

input[name="name"] {
  @extend %bottomInput;
  top: 674px;
  left: 462px;
}

input[name="system.pronouns"] {
  @extend %bottomInputRight;
  top: 674px;
  left: 630px;
}

input[name="system.banner"] {
  @extend %bottomInput;
  top: 717px;
  left: 615px;
}

input[name="system.moniker"] {
  @extend %bottomInput;
  top: 717px;
  left: 462px;
}

// KIN
input[name="kin.name"] {
  @extend %bottomInput;
  top: 697px;
  left: 462px;
}

div[name="kin.nexusSurge"] {
  @extend %divInfo;
  top: 86px;
  left: 686px;
  width: 330px;
  height: 49px;
  overflow: auto;
}

label[name="kin.nexusSurgeName"] {
  @extend %bottomInput;
  font-size: large;
  top: 69px;
  left: 770px;
  width: 200px;
}

// FRAME
input[name="frame.name"] {
  @extend %bottomInput;
  top: 697px;
  left: 615px;
}

label[name="frame.ability1"] {
  @extend %bottomInput;
  font-size: large;
  top: 194px;
  left: 815px;
}


label[name="frame.ability2"] {
  @extend %bottomInput;
  font-size: large;
  top: 229px;
  left: 815px;
}

//AP
input[name="system.ap"] {
  @extend %energyInput;
  text-align: left;
  top: 131px;
  left: 335px;
}